.register_form {
    display: none;
}
    
.login_form {
    display: none;
}
    
.modal_form {
    display: none;
    background-color: rgb(60, 138, 221);
}
.modal_popup>button {
    display: block;
    margin: 0 auto;
    border: 5px solid rgb(0, 174, 255);
    color: black;
    padding: 1.5% 6%;
    background-color: rgba(53, 96, 235, 0.92)
}

.modal_popup button:active{
    background-color: rgb(60, 76, 163);
}

.modal_form ul {
    padding: 0;
}

.modal_form li {
    display: inline-block;
    color: black;
    text-decoration: underline;
}

.modal_form {
    margin: 0 auto;
    text-align: center;
    width: 25%;
    border-radius: 25px;
    border: 5px solid rgb(13, 0, 160);
}

.modal_form input {
    margin: 20px auto;
    display: block;
    width: 75%;
    outline: none;
    border-radius: 7px;
}

.modal_form .login_form .password input,
.modal_form .register_form .password input {
    display: inline-block;
    padding-right: 35px;
}

.modal_form .password input {
    margin-left: 20px;
}

.modal_form .show_pass {
    display: inline-block;
    padding: 0;
    position: relative;
    left: -35px;
    top: 3px;
    width: 20px;
    height: 15px;
    background-color: #fff;
    outline: none;
    border: none;
    background-image: url(../hide_pass.png);
    background-size: 100% 100%;
}

.modal_form label {
    font-size: 20px;
    color: black;
}

.modal_form button {
    display: block;
    margin: 0 auto;
    margin-top: 30px;
    width: 75%;
    height: 40px;
    background-color: rgba(255,255,255,0);
    border: 2px solid #fff;
    outline: none;
    color: black;
    font-size: 18px;
    font-weight: 700;
}

.modal_form button:hover {
    background-color: rgba(255,255,255,.3);
}

.modal_form button:active {
    background-color: rgba(255,255,255,.6);
}

